#chat-screen,
#chat-screen .status-bar,
#chat-screen .alt-screen-header {
  background-color: #abc1d1;
}

.main-chat {
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__time {
  background-color: #92a4b2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 15px;
}

.message-row {
  display: flex;
  width: 100%;
}

.message-row_icon {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  margin-right: 15px;
  background-color: #fae100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  color: #fae100;
}

.message-row_icon div {
  width: 40px;
  height: 30px;
  border-radius: 25px;
  background-color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0px;
}
