.friends-screen__birthday {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}

.friends-screen__birthday-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.friends-screen__birthday-header i {
  opacity: 0.5;
}

.birthday-component {
  display: flex;
  justify-content: space-between;
}

.birthday-component__column {
  display: flex;
  align-items: center;
}

.birthday-component_icon {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 15px;
  background-color: #f56971;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
}

.birthday-component__text {
  font-weight: 600;
  font-size: 18px;
}

.birthday-component__column:last-child {
  opacity: 0.5;
}

.birthday-component__column:last-child span {
  margin-right: 5px;
}

.friends-screen__channel {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.friends-screen__channel-header i {
  opacity: 0.5;
}

.channel-component {
  display: flex;
  justify-content: space-between;
}

.channel-component__column {
  display: flex;
  align-items: center;
}

.channel-component_icon {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 15px;
  background-color: #fae100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  color: #fae100;
}

.channel-component_icon div {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0px;
}

.channel-component__text {
  font-weight: 600;
  font-size: 18px;
}

.channel-component__column:last-child {
  opacity: 0.5;
}

.channel-component__column:last-child span {
  margin-right: 5px;
}

.friends-screen__friends {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}

.friends-screen__friends-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.friends-screen__friends-header i {
  opacity: 0.5;
}

.friends-component {
  display: flex;
  justify-content: space-between;
}

.friends-component__column {
  display: flex;
  align-items: center;
}

.friends-component_icon {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 15px;
  background-color: #94bfe7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4dbf1;
}

.friends-component_icon div {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0px;
}

.friends-component__text {
  font-weight: 600;
  font-size: 18px;
}

.friends-component__column:last-child {
  opacity: 0.5;
}

.friends-component__column:last-child span {
  margin-right: 5px;
}
