.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 50%);
  z-index: 1;
  background-color: white;
}

.welcome-header__title {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}

.welcome-header__text {
  font-size: 20px;
  opacity: 0.4;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
  width: 50%;
  bottom: 5%;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -5%);
  z-index: 0;
  background-color: white;
}

.login-form__input {
  padding: 10px 0px;
}

.login-form__input::placeholder {
  opacity: 0.9;
  font-size: 15px;
}

.login-form__btn {
  padding: 10px 0px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.login-form__sign-up {
  padding: 10px 0px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.login-form__link {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
