.alt-screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 4%;
  padding: 20px var(--horizontal-space);
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}

.alt-screen__column {
  width: 33%;
}

.alt-screen-header__title {
  font-weight: 600;
  font-size: 22px;
}

.alt-screen__column:nth-child(2) {
  text-align: center;
}

.alt-screen__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-screen__column:last-child i {
  margin-left: 20px;
}
