.user-component {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__photo {
  width: 70px;
  height: 70px;
  border-radius: 30%;
  margin-right: 15px;
}

.user-component__title {
  font-weight: 600;
  font-size: 18px;
}
